on:
  workflow_call:
    inputs:
      status:
        required: true
        type: string
      event_name:
        required: true
        type: string
      pr_url:
        required: false
        type: string
      pr_title:
        required: false
        type: string
      # YOU MUST ADD THIS SECTION:
      commit_msg:
        required: false
        type: string

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Mattermost Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
          SLACK_USERNAME: 'Satsavi CI/CD'
          SLACK_TITLE: >-
            ${{ inputs.event_name == 'pull_request' 
                && format('PR Activity: {0}', inputs.pr_title) 
                || format('Deployment: {0}', github.repository) }}
          SLACK_MESSAGE: >-
            ${{ inputs.event_name == 'pull_request' 
                && format('Review required: {0}', inputs.pr_url) 
                || format('Commit: "{0}"\nStatus: {1} on {2}', inputs.commit_msg, inputs.status, github.ref_name) }}
          SLACK_COLOR: ${{ inputs.status == 'success' && '#36a64f' || '#af111c' }}